@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";

.font-inter{
    font-family: "Inter", sans-serif;
}
a.active {
  color:#632EE3;
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  font-weight: 600;
}